html {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}


body {
    background-image: url("empathy_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}



main {
    margin: 20px auto;
    background: transparent;

}

.all-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 2vw;
    align-content: flex-start;
    max-width: 45vw;
    margin-top: 120px;
    justify-self: left;
    margin-bottom: 50px;

}

#empathy-logo {
    align-self: flex-start;
    width: 100%;
    margin-bottom: 60px;
}

.subheader1 {
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 30px;
    font-weight: normal;

}

.e-text {
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 22px;

}

.screenshots {
    display: flex;
    flex-direction: column;
    position: absolute;
    flex-wrap: wrap;
    right: 2vw;
    align-content: flex-end;
    max-width: 45vw;
    margin-top: 120px;
    justify-self: right;
    margin-bottom: 50px;
    justify-content: space-evenly;
}

.screenshots-row1 {
    display: flex;
    flex-direction: row;
    margin-top: 7vw;
    justify-content: space-evenly;
}

.screenshots-row2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.sc {
    max-width: 16vw;
    height: auto;
    margin: 10px;
}

/*#brochure{
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 30px;
    font-weight: normal;
    margin-top: 10vw;
}*/

.brochure {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    align-self: center;
    height: auto;
}

#3dbrochyr {
    max-width: 20%;
    margin-bottom: 10vw;
    margin-top: 5vw;
}

#brochyr {
    max-width: 60%;
    margin-bottom: 10vw;
    margin-top: 5vw;
}

#the-brochure {
    margin-top: 9vw;
    margin-left: 2%;
    color: white;
    font-family: Avenir, sans-serif;
    font-size: 30px;
    font-weight: normal;

}


@media (min-width: 1734px) {
    .screenshots {
        display: flex;
        flex-direction: column;
        position: absolute;
        flex-wrap: wrap;
        right: 2vw;
        align-content: flex-end;
        max-width: 45vw;
        margin-top: 14%;
        justify-self: right;
        margin-bottom: 50px;
        justify-content: space-evenly;
    }

    .brochure {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        align-self: center;
        height: auto;
        margin-top: 4%;
    }

    #the-brochure {
        margin-top: 18%;
        margin-left: 2%;
        color: white;
        font-family: Avenir, sans-serif;
        font-size: 30px;
        font-weight: normal;

    }


}

@media (min-width: 2064px) {
    .brochure {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        align-self: center;
        height: auto;
        margin-top: 4%;
    }

    #the-brochure {
        margin-top: 28%;
        margin-left: 2%;
        color: white;
        font-family: Avenir, sans-serif;
        font-size: 30px;
        font-weight: normal;

    }
}

@media (min-width: 2064px) {

    #the-brochure {
        margin-top: 38%;
        margin-left: 2%;
        color: white;
        font-family: Avenir, sans-serif;
        font-size: 30px;
        font-weight: normal;

    }
}

@media (max-width: 1470px) {
    .brochure {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        position: absolute;
        align-self: center;
        height: auto;
        background-color: #ffffff;
    }

    #3dbrochyr {
        max-width: 20%;
        margin-bottom: 10vw;
    }

    #brochyr {
        max-width: 60%;
        margin-bottom: 10vw;
    }

}


@media (max-width: 1036px) {
    body {
        background: linear-gradient(0deg, rgba(137,23,97,1) 0%, rgba(172,82,141,1) 100%);
        background-repeat: no-repeat;
        height: 2000px;
    }

    .screenshots {
        background-color: white;
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;

        padding: 2vw;
    }

    .screenshots-row1 {
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
        justify-content: space-evenly;
    }

    .logo-text-container {
        display: flex;
        flex-direction: column;
        position: relative;
        left: 2vw;
        align-content: flex-start;
        max-width: 45vw;
        margin-top: 60px;
        justify-self: left;
        margin-bottom: 50px;

    }

    .all-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background: linear-gradient(0deg, rgba(137,23,97,1) 0%, rgba(172,82,141,1) 100%);
    }

}

