body {
    background-color: #151a28;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.finding-home-vid {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100vw;
    height: auto;
    align-content: center;
}

.finding-home-header {
    max-width: 50%;
    text-align: center;
    font-family: "Avenir", "Nunito", regular, sans-serif;
    color: #ffffff;
    font-size: 40px;
}