body {
    background-color: #151a28;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 60px;
}

.finding-home-vid {
    /*display: flex;
    flex-direction: row;
    flex-wrap: nowrap; */
    max-width: 100vw;
    align-content: center;
    margin-top: 60px;
}

.finding-home-header {
    max-width: 100%;
    text-align: center;
    font-family: "Abril Fatface", "Nunito", regular, sans-serif;
    color: #ffffff;
    font-size: 80px;
}

.finding-home-text {
    max-width: 80%;
    text-align: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 20vh;
    font-family: "Nunito", regular, sans-serif;
    color: #ffffff;
    font-size: 16px;
}