body {
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  background-image: url("waves-r.svg");
  font-size: 18px;
  font-family: 'Nunito', sans-serif;

}

/*HERO*/

.flex-container-home-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 7px;
  /*background-color: #ffffff;*/
}

#hero {
  font-size: 60px;
  font-family: 'Baskerville', serif;
  margin-top: 30px;
  color: #ffffff;
  margin-bottom: 10px;
}

@media (max-width: 1070px) {
  .flex-container-home-hero {
    background: #CC7F7F;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: -30px;
    margin-right: -30px;
  }

  #hero {
    align-self: center;

  }

  #footer-image {
    width: 100vw;
    height: auto;
    align-self: center;
    z-index: -5;
    position: absolute;
    bottom: 0;
  }
}

@media (min-width: 1000px) {
  #hero {
  margin-top: -5vw;
  }
}

.flex-hero {
  padding: 0;
  margin: 0;
}


#uiux {
  font-size: 26px;
  font-family: 'Nunito', sans-serif;
  color: #ffffff;
  text-align: center;
  margin-top: -70px;
  margin-left: 30px;
  font-weight: lighter;
}

#hero-image {
  /*box-shadow: 0px 2px 5px Dimgrey;*/
  margin-top: 60px;
  padding: 20px;
  background-color: white;
  border-radius: 50%;

}



.rubrik {
  font-size: 40px;
  font-family: 'Abril Fatface', serif;
  margin-top: -40px;
  margin-bottom: 30px;
  padding-top: 70px;
  font-weight: normal;
  text-align: left;


}


main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 30px;
  background: transparent;
}

#blankbox1 {
  height: 100px;
  background-color: transparent;
  width: auto;
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  font-weight: normal;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #252525;
  margin-bottom: 2%;
  margin-top: -40px;
  padding-top: 70px;

}



.about {
  background-color: white;
  padding: 30px;
  border-radius: 40px;

}

#about {
  background-image: url("Vectorabout.svg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 50px;
}

/*EDUCATION&EXPERIENCE*/

/*.eeswrapper {
  display: flex;
  flex-wrap: wrap;
  background-color: #ced5f5;
  border-radius: 40px;
  border: #ffcb69;
  padding: 30px;
  padding-top: 50px;
}*/

.education {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  background-color: transparent;
  /*border: 5px solid #94bd8f;*/
  border-radius: 40px;
  padding-bottom: 10px;
  max-width: 45%;
  /*box-shadow: 1px 1px 5px Dimgrey;*/
  margin-top: -100px;
}

.education2 {
  display: flex;
  flex-direction: row;
  margin-top: -80px;

}

.experience1 {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /*justify-content: center;*/
  background-image: url("Vector3.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: 5px solid #ffcb69;*/
  border-radius: 40px;
  max-width: 45%;
  padding: 2px;
  /*box-shadow: 1px 1px 5px Dimgrey;*/
  max-height: 400px;
}
.experience2 {
  display: flex;
  flex-direction: row;
  /*flex-basis: 100%;*/
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  /*justify-content: center;*/
  background-color: transparent;
  /*border: 5px solid #ffcb69;*/
  max-width: 100%;
  max-height: 450px;
  overflow-y: scroll;
  margin-top: -10px;
}

#experience-text {
  padding-top: 70px;
  margin-bottom: 20px;
  text-align: left;
}

#education {
  align-self: flex-start;
  color: #252525;
  font-size: 26px;
  margin-top: 30px;
  margin-bottom: 30px;
}

#chalmerslogo {
  margin-top: 60px;
  width: 150px;
  align-self: center;

}

#education-text {
  text-align: center;
  color: #252525;
  margin-top: 60px;

}

#cv {
  background-color: #252525;
  color: #ffffff;
  font-size: 18px;
  font-family: "Nunito", sans-serif;
  border-radius: 30px;
  box-shadow: 0px 2px 5px Dimgrey;
  margin-top: 80px;
  padding: 15px 30px 15px 30px;
  max-width: 180px;
  align-self: center;

}

#experience {
  align-self: center;
  color: #252525;
  font-size: 26px;
}

#skills {
  text-align: left;
  margin-top: 10px;
  margin-left: 30px;
  color: #252525;
  font-size: 26px;

}

.skill {
  display: flex;
  position: relative;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  width: 25%;
  height: 150px;
  margin: 10px;
  font-size: 18px;
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
  background-color: #ffffff;
  text-align: center;
  border-radius: 50%;
  box-shadow: 1px 1px 3px Dimgrey;
}

.skill-overlay:hover {
  opacity: 1;
}

.skill-overlay {
  position: absolute;
  bottom: auto;
  top: 0px;
  left: 0px;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(255, 255, 255);
  background-size: cover;
  color: #3b3b3b;
  z-index: 1;
  border-radius: 50%;
}


.bar-wrapper {
  display: flex;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  justify-content: center;
}

.bar {
  /*border: 3px solid #252525;*/
  border-radius: 50%;
  height: 20px;
  margin: 5px;
  width: 20px;
  box-shadow: 1px 1px 3px Dimgrey;

}

/*PROJECTS*/

.projects-wrapper1 {
  margin: 10px;
  border-radius: 40px;
  padding: 30px;
}

#projects {
  margin-top: 30px;
  background-image: url("Vectorabout.svg");
  background-size: 200px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-position-y: 50px;
}

.flex-container-home-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-grow: 1;
  align-items: center;

}

/*TESTAR>*/

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

.row2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-content: center;
  justify-content: space-evenly;
}

.column {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  align-content: center;
  justify-content: space-evenly;
}

/*.column1 {
  background-color: blue;
  height: 100px;
  width: auto;
}

.column2 {
  background-color: green;
  height: 100px;
  width: auto;
}


/*<TESTAR*/

#blankbox2 {
  height: 60px;
  width: auto;
}

.projects-wrapper {
  margin: 10px;
  border-radius: 40px;
  padding: 15px 30px 15px 30px;
  /*background-color: #3b3b3b;*/
}

.flex-item-project {
  display: block;
  position: static;
  background: white;
  width: 400px;
  height: 200px;
  margin: 30px auto;
  box-shadow: 0px 2px 5px Dimgrey;
}

.project-cell {
  margin-left: -15px;

}

@media (min-width: 2110px) {
  #blankbox1 {
    height: 14vw;
    background-color: transparent;
    width: auto;
  }
}

@media screen and (min-width: 940px) {
  .projects-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
  .flex-item-project {
    margin: 30px 15px;
  }
}

.contact-info {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  text-align: center;
  font-weight: normal;
  font-family: "Nunito", serif;
  font-size: 22px;
  color: #252525;
  margin-bottom: 2%;
  margin-top: -40px;
  padding-top: 70px;

}


.flex-item-project:hover .overlay {
  opacity: 1;
}

.overlay {
  position: relative;
  top: -207px;
  bottom: auto;
  left: auto;
  right: auto;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #3b3b3b;
  z-index: 1;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*CONTACT ME!*/

.row-contect-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 7px;
  background-color: transparent;

}


.column-contact-form {
  display: flex;
  flex-direction: column;
  /*flex-basis: 100%;*/
  flex: 1;
  align-items: normal;
  justify-content: space-evenly;
}

.flex-item-contact {
  background: transparent;
  max-width: 100%;
  margin: 30px 15px 30px 15px;
  /*box-shadow: 0px 2px 5px Dimgrey;*/


}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 3px solid #d9d9d9; /* Gray border */
  border-radius: 20px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  font-size: 20px;
  font-family: 'Nunito', sans-serif;
}

#subject {
  max-height: 500px;
  max-width: 1000px;
  margin-top: 5px;
  margin-bottom:5px;

}

 /*margin-bottom: 40px;               Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #94bd8f;
  color: #ffffff;
  padding: 12px 40px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #d0acff;
}

label {
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding-left: 10px;
}
/* Add a background color and some padding around the form */
/*.frame-contact {
  border-radius: 5px;
  padding: 20px;
}                        */


#footer-image {
  width: 100vw;
  height: auto;
  margin-bottom: -10px;
  margin-top: -880px;
  align-self: center;
  z-index: -5;
  position: absolute;
}

/*@media (max-width: 1060px) {
  .skill {
    flex:none;
  }

}*/

@media (max-width: 940px) {
  .contact-info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    font-weight: normal;
    font-family: "Nunito", serif;
    font-size: 22px;
    color: #252525;
    margin-bottom: 2%;
    margin-top: -40px;
    padding-top: 70px;

  }

}

@media (max-width: 782px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    align-content: center;
    justify-content: space-evenly;
  }

  .skill {
    display: flex;
    flex-direction: column;
    /*flex-basis: 100%;*/
    align-content: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    margin: 10px;
    font-size: 18px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #ffffff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px Dimgrey;
    flex: none;
  }

  .education {
    display: flex;
    flex-direction: column;
    /*flex-basis: 100%;*/
    flex: 1;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
    background-color: transparent;
    /*border: 5px solid #94bd8f;*/
    border-radius: 40px;
    padding-bottom: 10px;
    max-width: 45%;
    /*box-shadow: 1px 1px 5px Dimgrey;*/
    margin-top: 4vh;
  }

  .education2 {
    display: flex;
    flex-direction: column;
    margin-top: 2vh;

  }

  .experience1 {
    display: flex;
    flex-direction: column;
    /*flex-basis: 100%;*/
    flex: 1;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    /*justify-content: center;*/
    background-color: transparent;
    /*border: 5px solid #ffcb69;*/
    border-radius: 40px;
    max-width: 80%;
    padding-bottom: 10px;
    /*box-shadow: 1px 1px 5px Dimgrey;*/
    max-height: 400px;
  }
  .experience2 {
    display: flex;
    flex-direction: column;
    /*flex-basis: 100%;*/
    flex: 1;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    /*justify-content: center;*/
    background-color: transparent;
    /*border: 5px solid #ffcb69;*/
    max-height: 450px;
    overflow-y: scroll;
    padding-top: 150px;
    align-self: center;
  }

  #experience-text {
    padding-top: 0px;
    margin-bottom: 20px;
    text-align: left;
  }

  #education {
    align-self: center;
    color: #252525;
    font-size: 26px;
    margin-bottom: 2vh;
  }

  #chalmerslogo {
    width: 150px;
    align-self: center;

  }

  #education-text {
    text-align: center;
    color: #252525;

  }

  #experience {
    align-self: center;
    color: #252525;
    font-size: 26px;
  }




}
